*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;    
}

html{
    font-size: calc(15px + 0.390625vw);
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}
main{
    margin: auto;
    padding: 0 16px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component{
    background-color: hsl(0, 0%, 100%);    
    border-radius: 15px;
    max-width: 375px;
    
}
img{
    width: 88%;
    border-radius: 10px;
    margin: 6% 6% 0 6%;

}

.textContainer{
    margin: 0 2.6rem 2.4rem 2.6rem;
}
.textContainer h3 {
    font-size: min(1.4rem, 22.4px);
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;    
    margin-top: 1.2rem;
}
.textContainer p{
    font-size: min(1rem, 16px);
    text-align: center;    
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-top: 1rem;
    
}
footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
}